@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(20, 20, 20);
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

#menu button {
    box-shadow: none;
    padding-left: 1%;
    padding-right: 1%;
    border-color: transparent;
}

.separator {
    height: 3px; /* Ajusta el grosor de la línea */
    border: none; /* Elimina cualquier borde predeterminado */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255,255,255), rgba(0, 0, 0, 0));
}
